
.access-write {
  background-color: #f0fdf6;
  border-left: 4px solid #0AB86D;
}

.access-read {
  background-color: #fff8e1;
  border-left: 4px solid #ffc107;
}

.access-no {
  background-color: rgb(248, 214, 214);
  border-left: 4px solid #ced4da;
}

.badge {
  font-size: 11px;
  padding: 4px 8px;
}

.badge-write {
  background-color: #e6f7f1;
  color: #0AB86D;
}

.badge-read {
  background-color: #fff3cd;
  color: #856404;
}

.badge-no {
  background-color: rgb(247, 199, 199);
  color: rgb(83, 58, 58);
}
