// .overlay {
//   position: fixed;
//   top: 1%;
//   left: 35%;
//   right: 0%;
//   width: 30%;
//   height: auto;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 999;
// }

.overlay {
  position: fixed;
  top: 1%;
  right: 1%;      /* Move to right side */
  width: 30%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.overlay {
  position: fixed;
  top: 1%;
  right: 1%;
  width: 30%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  animation: dropAndSettle 100ms ease-out forwards;
}

@keyframes dropAndSettle {
  0% {
    transform: translateX(200%); /* start far above */
    opacity: 0;
  }
  30% {
    transform: translateX(20%); /* comes down */
    opacity: 1;
  }
  100% {
    transform: translateY(0); /* moves back up to final position */
  }
}




