<div class="container-fluid scroll-container mt-2">
  <app-indent-count></app-indent-count>
  <div class="row g-2">
    <div class="col-md-4">
      <app-system-summary></app-system-summary>
    </div>
    <div class="col-md-4">
      <app-indent-summary></app-indent-summary>
    </div>
    <div class="col-md-4">
      <app-module-access></app-module-access>
    </div>
  </div>
</div>

<!-- Small Notice Modal -->
<div class="modal fade" id="smallNoticeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">

    <div class="modal-content border-0 bg-transparent shadow-none p-0">

      <!-- Notice Balloon -->
      <div class="notice-container">
        <div class="notice-balloon shadow-sm rounded-3">

          

          <!-- Header / Title -->
          <h3 class="notice-title">Notice</h3>

          <!-- Body / Message -->
          <p class="notice-text mb-0">
            Please review your assigned modules carefully.<br>
            Check your module access before approving or rejecting any indents.<br>
            Best Regards!
          </p>

          <!-- Bottom Icon -->
          <div class="notice-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

