<div class="container-flui">

  <div class="card border-0 p-2 mt-1">
    <div class="card-bod border-0 d-flex justify-content-between align-items-center mb-1">

      <!-- LEFT SIDE: Title + Radio Buttons -->
      <div class="d-flex align-items-center gap-3">
        <!-- Title -->
        <h5 class="fw-bold mb-0">
          Indent Request List
        </h5>

        <!-- Radio Button Group -->
        <!-- <div class="btn-group" role="group">

          <button type="button" class="btn btn-sm left-rounded status-btn"
            [ngClass]="selectedStatus === 'approved' ? 'custom-btn' : 'inactive-btn'"
            (click)="statusFilter('approved')">
            Approved
          </button>

          <button type="button" class="btn btn-sm status-btn"
            [ngClass]="selectedStatus === 'rejected' ? 'custom-btn' : 'inactive-btn'"
            (click)="statusFilter('rejected')">
            Rejected
          </button>

          <button type="button" class="btn btn-sm right-rounded status-btn"
            [ngClass]="selectedStatus === 'pending' ? 'custom-btn' : 'inactive-btn'" (click)="statusFilter('pending')">
            Pending
          </button>

        </div> -->

        <!-- <div class="ios-tab-container">
          <div class="ios-tab-slider" [ngClass]="selectedStatus"></div>

          <div class="ios-tab" [class.active]="selectedStatus === 'all'" (click)="statusFilter('all')">
            All Records
          </div>

          <div class="ios-tab" [class.active]="selectedStatus === 'approved'" (click)="statusFilter('approved')">
            Approved
          </div>

          <div class="ios-tab" [class.active]="selectedStatus === 'rejected'" (click)="statusFilter('rejected')">
            Rejected
          </div>

          <div class="ios-tab" [class.active]="selectedStatus === 'pending'" (click)="statusFilter('pending')">
            Pending
          </div>
        </div> -->




      </div>

      <!-- right side -->
      <!-- <div class="d-flex align-items-center gap-2">
        <div class="input-group input-group-sm" style="width: 280px;">
          <input #searchInput type="search" class="form-control"
            placeholder="Search Indent No, Plant, Division.." (input)="onSearchChange(searchInput.value)">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
        </div>

        <span>From Date</span>
        <input #fromDate type="date" (change)="onDateChange(fromDate.value, toDate.value)">
        <span>To Date</span>
        <input #toDate type="date" (change)="onDateChange(fromDate.value, toDate.value)">

        <i class="bi bi-arrow-clockwise text-primary cursor-pointer" (click)="clearFilters()"></i>


        <button class="btn custom-btn btn-sm px-3 shadow-none border-0 rounded" style="font-weight: 600;"
          (click)="addNewRequest()">
          Add New Request
        </button>

      </div> -->

      <div class="d-flex align-items-center gap-3 px-3 py-1 border rounded-pill shadow-sm bg-white">

        <!-- Search -->
        <div *ngIf="currentModule === 'initiator'" class="input-group input-group-sm" style="width: 220px;">
          <input #searchInput type="search" class="form-control border-0" style="font-size: 12px;"
            placeholder="Indent No, Raised By, Division.." (input)="onSearchChange(searchInput.value)" />
          <span class="input-group-text border-0 bg-transparent">
            <i class="bi bi-search" style="font-size: 13px;"></i>
          </span>
        </div>

        <div *ngIf="currentModule === 'initiator'" class="vr" style="height: 26px;"></div>

        <!-- From Date -->
        <div class="d-flex align-items-center gap-1">
          <span style="font-size: 11px; font-weight: 600; white-space: nowrap;">
            From date : 
          </span>
          <input #fromDate type="date" class="form-control form-control-sm border-0 p-0"
            style="font-size: 12px; height: 20px;" (change)="onDateChange(fromDate.value, toDate.value)" />
        </div>

        <div class="vr" style="height: 26px;"></div>

        <!-- To Date -->
        <div class="d-flex align-items-center gap-1">
          <span style="font-size: 11px; font-weight: 600; white-space: nowrap;">
            To date : 
          </span>
          <input #toDate type="date" class="form-control form-control-sm border-0 p-0"
            style="font-size: 12px; height: 20px;" (change)="onDateChange(fromDate.value, toDate.value)" />
        </div>

        <div class="vr" style="height: 26px;"></div>

        <!-- Division -->
        <span *ngIf="currentModule !== 'initiator'" style="font-size: 11px; font-weight: 600;">Division</span>
        <select *ngIf="currentModule !== 'initiator'" class="form-select form-select-sm border-0 p-0"
          style="font-size: 12px; height: 20px; width: 140px;" (change)="onDivisionChange($event)">
          <option value="">Select</option>
          <option *ngFor="let d of divisionList" [value]="d.division_id">{{ d.division_name }}</option>
        </select>

        <div *ngIf="currentModule !== 'initiator'" class="vr" style="height: 26px;"></div>

        <!-- Status -->
        <span *ngIf="currentModule == 'initiator'" style="font-size: 11px; font-weight: 700;">Status</span>
        <select *ngIf="currentModule == 'initiator'" class="form-select form-select-sm border-0 p-0"
          style="font-size: 12px; height: 20px; width: 150px;" (change)="onStatusChange($event)">
          <option value="">Select</option>
          <option *ngFor="let s of statusMasterOptions" [value]="s.stage_code">{{ s.filter_status }}</option>
        </select>

        <span *ngIf="currentModule !== 'initiator'" style="font-size: 11px; font-weight: 600;">Status</span>
        <select *ngIf="currentModule !== 'initiator'" class="form-select form-select-sm border-0 p-0"
          style="font-size: 12px; height: 20px; width: 140px;" [(ngModel)]="selectedStatusId"
          (ngModelChange)="onStatusChangeForFilter()">
          <option class="m-2" *ngFor="let s of statusList" [ngValue]="s.id">
            {{ s.value }}
          </option>
        </select>

        <!-- Reset -->
        <i class="bi bi-arrow-clockwise text-primary cursor-pointer thick-icon" style="font-size: 14px;"
          (click)="clearFilters()" title="Reset Filters"></i>

        <!-- Add Button -->
        <button *ngIf="writeAccess && currentModule === 'initiator'"
          class="btn btn-sm px-3 custom-btn rounded-pill shadow-none" style="font-size: 12px; font-weight: 600;"
          (click)="addNewRequest()">
          Add New Request
        </button>

      </div>


    </div>

    <div class="table-responsive scroll-container">
      <div class="table-responsive shadow-m bg-white rounded">
        <div *ngIf="indentRequestList.length > 0; else noData">
          <table class="table table-bordered shadow-none table-hover align-middle mb-0"
            style="table-layout:auto; width:100%;">

            <thead class="table-light">
              <tr>
                <th *ngFor="let key of tableKeys" style="white-space: nowrap; font-size: 14px; line-height: 1.2;">
                  {{ key }}
                </th>
              </tr>
            </thead>

            <tbody class="text-muted">
              <tr *ngFor="let item of indentRequestList" class="cursor-pointer" (click)="manageById(item['S.NO'])">
                <td *ngFor="let key of tableKeys"
                  [ngStyle]="currentModule === 'initiator' 
                  ? {'white-space': 'nowrap', 'font-size': '10px', 'line-height': '0.8', 'text-transform': 'capitalize'}
                  : {'white-space': 'nowrap', 'font-size': '10px', 'line-height': '1.3', 'text-transform': 'capitalize'}">

                  <!-- Status Column -->
                  <ng-container *ngIf="key === 'Status'; else normalCell">
                    <span class="badge text-white" [ngStyle]="{
                      'background-color': item?.['Colour Code'],
                      'font-size': currentModule === 'initiator' ? '10px' : '10px',
                      'text-transform': 'capitalize'
                    }">
                      {{ item[key] }}
                    </span>
                  </ng-container>

                  <!-- Normal Column -->
                  <ng-template #normalCell>
                    <span
                      [ngStyle]="{'font-size': currentModule === 'initiator' ? '12px' : '12px', 'text-transform': 'capitalize'}">
                      {{ item[key] }}
                    </span>
                  </ng-template>
                </td>
              </tr>
            </tbody>



          </table>
        </div>
        <!-- ====== NO DATA ====== -->
        <ng-template #noData>
          <div class="text-center mt-5 my-3">
            <span class="px-3 py-2 rounded bg-warning-subtle text-warning fw-semibold d-inline-block">
              No records found
            </span>
          </div>
        </ng-template>


      </div>


      <!-- ====== PAGINATION ====== -->
      <div class="d-flex justify-content-between align-items-center mt-1" *ngIf="indentRequestList.length > 0">

        <!-- Showing Records -->
        <span class="small badge custom-bg text-white">
          Showing {{ startIndex }} to {{ endIndex }} of {{ totalRecords }} Records
        </span>

        <!-- Pagination Buttons -->
        <ul class="pagination pagination-sm mb-1">

          <!-- Previous -->
          <li class="page-item">
            <button type="button" class="border-none text-white custom-action-btn px-2 py-1 me-2"
              (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" [ngClass]="{
                  'custom-bg': currentPage > 1,
                  'bg-secondary': currentPage === 1
                }">
              <i class="bi bi-chevron-left"></i>
            </button>
          </li>

          <!-- Page Info -->
          <li class="page-item me-2 d-none d-md-block">
            <span class="px-3 py-1 small text-dark fw-bold border rounded bg-light">
              Page {{ currentPage }} of {{ totalPages }}
            </span>
          </li>

          <!-- Next -->
          <li class="page-item">
            <button type="button" class="border-none text-white custom-action-btn px-2 py-1"
              (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages" [ngClass]="{
                  'custom-bg': currentPage < totalPages,
                  'bg-secondary': currentPage >= totalPages
                }">
              <i class="bi bi-chevron-right"></i>
            </button>
          </li>

        </ul>
      </div>

    </div>

  </div>
</div>





<div class="modal" *ngIf="visible">
  <div class="modal-content">

    <!-- Header -->
    <!-- <div class="d-flex justify-content-between align-items-center mb-1">
      <h5 class="m-0 fw-bold text-success">New Request </h5>
      <span class="close-btn" (click)="closeModal()">&times;</span>
    </div> -->
    <div class="d-flex justify-content-between align-items-center position-relative mb-3">
      <h5 class="m-0 fw-bold text-success mx-auto">New Request</h5>
      <span class="close-btn position-absolute end-0" (click)="closeModal()">&times;</span>
    </div>


    <form [formGroup]="requestForm">

      <!-- ===== PARENT FIELDS ===== -->
      <fieldset class="border rounded px-3 pb-3 mb-3">
        <legend class="float-none w-auto  fw-semibold custom-text fs-6">
          Division & Budget Details
        </legend>

        <div class="row g-3">

          <!-- Division -->
          <div class="col-md-3">
            <label class="form-label">Division *</label>
            <select class="form-select form-select-sm" formControlName="division" [ngClass]="{
              'is-invalid':
                requestForm.get('division')?.invalid &&
                requestForm.get('division')?.touched
            }">
              <option value="">Select</option>
              <option *ngFor="let d of divisionList" [value]="d.division_id">
                {{ d.division_name }}
              </option>
            </select>
          </div>

          <!-- Planned Budget -->
          <div class="col-md-3">
            <label class="form-label">Planned Budget</label>
            <input type="text" class="form-control form-control-sm" formControlName="plannedBudget" numbersOnly
              placeholder="Enter planned budget" maxlength="10" [ngClass]="{
                'is-invalid':
                  requestForm.get('plannedBudget')?.invalid &&
                  requestForm.get('plannedBudget')?.touched
              }">
          </div>

          <!-- Estimated Budget -->
          <div class="col-md-3">
            <label class="form-label">Estimated Budget</label>
            <input type="text" class="form-control form-control-sm" formControlName="estimatedBudget" numbersOnly
              placeholder="Enter estimated budget" maxlength="10" [ngClass]="{
                'is-invalid':
                  requestForm.get('estimatedBudget')?.invalid &&
                  requestForm.get('estimatedBudget')?.touched
              }">
          </div>

          <!-- Upload File -->
          <div class="col-md-3">
            <label class="form-label">Upload File</label>
            <input type="file" class="form-control form-control-sm" multiple accept="application/pdf"
              (change)="onFileChange($event)" [ngClass]="{
              'is-invalid':
                requestForm.get('file')?.invalid &&
                requestForm.get('file')?.touched
            }">
          </div>

        </div>
      </fieldset>



      <!-- ===== CHILD MATERIALS ARRAY ===== -->
      <div formArrayName="materials">

        <div class="mb-3 rounded" *ngFor="let group of materialsArray.controls; let i = index" [formGroupName]="i">

          <fieldset class="border rounded px-3 pb-3 mb-3">
            <legend class="float-none w-auto  fw-semibold custom-text fs-6">
              Material {{ i + 1 }}
            </legend>

            <div class="d-flex justify-content-end mb-2">
              <!-- <h6 class="fw-bold">Material {{ i + 1 }}</h6> -->

              <button *ngIf="materialsArray.length > 1" type="button" class="btn btn-sm btn-danger"
                (click)="removeMaterial(i)">
                Remove
              </button>
            </div>

            <div class="row g-3">

              <!-- Plant -->
              <div class="col-md-3">
                <label class="form-label">Plant</label>
                <select class="form-select form-select-sm" formControlName="plant" (change)="onPlantChange($event)"
                  [ngClass]="{'is-invalid':group.get('plant')?.invalid && (group.get('plant')?.touched || group.get('plant')?.dirty)}">

                  <option value="">Select</option>
                  <option *ngFor="let p of plants" [value]="p.sno">
                    {{ p.plant_name }}
                  </option>
                </select>
              </div>


              <!-- Material Type -->
              <div class="col-md-3">
                <label class="form-label">Material Type</label>
                <select class="form-select form-select-sm" formControlName="materialType"
                  (change)="onMaterialChange($event)"
                  [ngClass]="{'is-invalid':group.get('materialType')?.invalid && (group.get('materialType')?.touched || group.get('materialType')?.dirty)}">
                  <option value="">Select</option>
                  <option *ngFor="let m of materialType" [value]="m.type_id">{{ m.type_name }}</option>
                </select>
              </div>

              <!-- Material Search -->
              <!-- <div class="col-md-3 position-relative">
              <label class="form-label">Material</label>
              <input type="search" class="form-control form-control-sm" formControlName="materialText"
                (input)="onSearch(i)"
                [ngClass]="{'is-invalid':group.get('materialText')?.invalid && (group.get('materialText')?.touched || group.get('materialText')?.dirty)}">

              <ul class="list-group position-absolute w-100" *ngIf="group.get('showList')?.value">
                <li class="list-group-item" *ngFor="let m of group.get('filteredMaterials')?.value"
                  (click)="selectMaterial(i, m)">
                  {{ m.code }} - {{ m.name }}
                </li>
              </ul>
            </div> -->

              <!-- <div class="col-md-3">
              <label class="form-label">Material</label>
              <select class="form-select form-select-sm" formControlName="material"
                [ngClass]="{'is-invalid':group.get('material')?.invalid && (group.get('material')?.touched || group.get('material')?.dirty)}">
                <option value="">Select</option>
                <option *ngFor="let m of materials" [value]="m.Sno">{{ m.Material }}</option>
              </select>
            </div> -->

              <!-- <div class="col-md-3 position-relative">
              <label class="form-label">Material</label>
              <input type="text" class="form-control form-control-sm" placeholder="Search material"
                formControlName="material" (input)="onMaterialSearch($event)" autocomplete="off" />

  
              <ul class="list-group position-absolute w-100 shadow-sm mt-1" *ngIf="materialList.length > 0"
                style="z-index: 1000; max-height: 180px; overflow-y: auto;">
                <li class="list-group-item list-group-item-action py-1" *ngFor="let m of materialList"
                  (click)="selectMaterial(m)">
                  <div class="fw-semibold">{{ m.Material }}</div>
                </li>
              </ul>
            </div> -->

              <div class="col-md-3">

                <label class="form-label">Material</label>

                <!-- Search Input -->
                <input type="text" class="form-control form-control-sm" placeholder="Search material"
                  formControlName="materialText" (input)="onSearch(i)" autocomplete="off"
                  [ngClass]="{'is-invalid':group.get('materialText')?.invalid && (group.get('materialText')?.touched || group.get('materialText')?.dirty)}" />

                <!-- Dropdown List -->
                <ul class="list-group position-absolute w-100 shadow-sm mt-1" *ngIf="group.get('showList')?.value"
                  style="z-index: 1000; max-height: 180px; overflow-y: auto;">
                  <li class="list-group-item list-group-item-action py-1"
                    *ngFor="let m of group.get('filteredMaterials')?.value" (click)="selectMaterial(i, m)">
                    <div class="fw-semibold cursor-pointer">{{ m.Material }}</div>
                  </li>
                </ul>

              </div>

              <!-- Quantity -->
              <div class="col-md-3">
                <label class="form-label">Quantity</label>
                <input type="text" class="form-control form-control-sm" formControlName="qty" numbersOnlyn
                  placeholder="Quantity"
                  [ngClass]="{'is-invalid':group.get('qty')?.invalid && (group.get('qty')?.touched || group.get('qty')?.dirty)}">
              </div>

              <!-- Delivery Date -->
              <div class="col-md-3">
                <label class="form-label">Delivery Date</label>
                <input type="date" class="form-control form-control-sm" formControlName="deliveryDate"
                  [ngClass]="{'is-invalid':group.get('deliveryDate')?.invalid && (group.get('deliveryDate')?.touched || group.get('deliveryDate')?.dirty)}">
              </div>

              <!-- Vendor -->
              <div class="col-md-3">
                <label class="form-label"> Suggested Vendor</label>
                <input type="text" class="form-control form-control-sm" formControlName="vendor" placeholder="Vendor"
                  maxlength="50"
                  [ngClass]="{'is-invalid':group.get('vendor')?.invalid && (group.get('vendor')?.touched || group.get('vendor')?.dirty)}">
              </div>

              <!-- Comment -->
              <div class="col-md-6">
                <label class="form-label">Comment</label>
                <textarea class="form-control form-control-sm" rows="1" formControlName="reason" placeholder="Comment.."
                  [ngClass]="{'is-invalid':group.get('reason')?.invalid && (group.get('reason')?.touched || group.get('reason')?.dirty)}"></textarea>
              </div>

            </div>
          </fieldset>
        </div>
      </div>

      <!-- ===== ACTION BUTTONS ===== -->
      <div class="d-flex justify-content-end gap-3 mt-4">
        <button type="button" class="btn custom-edit-btn btn-sm" (click)="addMaterial()">
          Add Material
        </button>

        <button type="button" class="btn custom-btn rounded btn-sm" (click)="submitRequest()">
          Submit
        </button>
      </div>

    </form>

  </div>
</div>