html, body {
  height: 100%;
  // font-family: 'Urbanist';
  font-family: plus-jakarta-sans, sans-serif;
  // font-family: plus-jakarta-sans, sans-serif;
  margin: 0;
  background: #f2f2f2;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section.header {
  width: 100%;
  height: 108px; 
  // height: 108px; 
  // background: #fff;
  // box-shadow: 0px 4px 16px 0px #00000026;
  // z-index: 1000;
}

.content-layout {
  display: flex;
  flex: 1;
  overflow: hidden; /* Prevent parent scrolling */
}

section.sidebar {
  width: 20%; /* Adjust sidebar width as needed */
  height: 100%;
  margin-top: 10px;
  // background: #f2f2f2;
  // box-shadow: 0px 4px 16px 0px #00000026;
  position: relative;
  margin-right: 10px;
}

section.dynamic-content {
  flex: 1;
 // overflow: hidden; /* Hide outer scrollbar */
  position: relative;
  // background: #f2f2f2;
  margin-top: 20px;
}

section.dynamic-content .scroll-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



/* Ensure scrolling works but scrollbar remains hidden */


section.dynamic-content {
  scrollbar-width: none; /* Firefox-specific to hide scrollbar */
}
.margin-left {
  margin-left : 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-bg {
  background-color: #0AB86D !important;
}

.custom-btn {
  background-color: #0AB86D !important;
  color: #fff !important;
  border-color: #0AB86D !important;

  &:hover,
  &:focus,
  &:active {
    background-color: #0AB86D !important;
    color: #fff !important;
    border-color: #0AB86D !important;
    box-shadow: none !important;   // optional (removes bootstrap outline)
  }
}
.custom-tooltip {
  --bs-tooltip-bg: #0AB86D;
  --bs-tooltip-color: #fff;
  --bs-tooltip-border-radius: 0.375rem; /* Adjust border radius as needed */
  --bs-tooltip-padding-x: 0.5rem; /* Adjust horizontal padding as needed */
  --bs-tooltip-padding-y: 0.25rem; /* Adjust vertical padding as needed */
}

.custom-text {
  color: #0AB86D;
}