.scroll-container {
  max-height: calc(100vh - 135px);
  min-height: calc(100vh - 135px);
  overflow-y: auto;
   scrollbar-width: none;     // Firefox
  -ms-overflow-style: none;  // IE & Edge

  &::-webkit-scrollbar {
    display: none;           // Chrome, Safari
  }
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 13px;
  color: #6c757d;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #000 !important;
  box-shadow: none !important;
}

.status-img {
  width: 55px;
  height: auto;
}

.status-img.pending {
  width: 50px;
}
