<div class="container-fluid  scroll-container">
    <div class="row g-2 align-items-start">

        <!-- LEFT : FINALIZED INDENT (FIXED HEIGHT) -->
        <div class="col-md-4 scroll-containe">
            <div class="card border-0 shadow-sm rounded-4">
                <div class="card-body p-2">

                    <!-- Header Actions -->
                    <div class="d-flex justify-content-between align-items-center mb-3">

                        <!-- LEFT: Back button -->
                        <div>
                            <i class="bi bi-chevron-left fs-4 cursor-pointer" (click)="back()"></i>
                        </div>

                        <!-- RIGHT: View Files button -->
                        <div>
                            <button *ngIf="indentDetailsData?.files" class="btn btn-sm custom-btn px-3"
                                (click)="openFiles()">
                                View Files
                            </button>

                            <!-- PDF Viewer Component -->
                            <app-view-file #pdfViewer [indentId]="Id"></app-view-file>
                        </div>

                    </div>


                    <!-- Title + Status -->
                    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-3">
                        <h6 class="fw-bold mb-0">Indent Summary</h6>

                        <!-- Status Image -->
                        <div class="d-flex align-items-center">
                            <!-- Approved -->
                            <img *ngIf="indentDetailsData?.status === 'Approved'" [src]="approvedLogo" alt="Approved"
                                class="status-img" />

                            <!-- Rejected -->
                            <img *ngIf="indentDetailsData?.status === 'Rejected'" [src]="rejectedLogo" alt="Rejected"
                                class="status-img" />

                            <!-- Pending -->
                            <img *ngIf="indentDetailsData?.status !== 'Approved' && indentDetailsData?.status !== 'Rejected'"
                                [src]="pendingLogo" alt="Pending" class="status-img" />
                        </div>
                    </div>


                    <!-- Divider -->
                    <!-- <hr class="my-2" /> -->

                    <!-- INDENT SUMMARY -->
                    <div class="border rounded-3 p-3 mb-3 bg-light small">

                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted">Indent ID</span>
                            <span class="fw-semibold text-dark">
                                {{ indentDetailsData?.indentId }}
                            </span>
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted">Planned Budget</span>
                            <span class="fw-bold text-success fs-6">
                                {{ indentDetailsData?.plannedBudget }}
                            </span>
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted">Estimated Budget</span>
                            <span class="fw-bold text-success fs-6">
                                {{ indentDetailsData?.estimatedBudget }}
                            </span>
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted">Approved Indent Value</span>
                            <span class="fw-bold text-success fs-6">
                                ₹ {{ getIndentGrandTotal() | number:'1.2-2' }}
                            </span>
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted">Initiated Date</span>
                            <span class="fw-semibold text-dark">
                                {{ indentDetailsData?.initiatedDate | date: 'd MMM yyyy' }}

                            </span>
                        </div>

                        <!-- Initiator -->
                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted">Initiated By</span>
                            <span class="fw-semibold text-dark">
                                {{ indentDetailsData?.history?.initiator?.initiatedBy | titlecase }}
                            </span>
                        </div>


                        <!-- Approver -->
                        <div *ngIf=" indentDetailsData?.history?.hod?.processedAt"
                            class="d-flex justify-content-between mb-2">
                            <span class="text-muted">Final Approved By</span>
                            <span class="fw-semibold text-dark">{{ indentDetailsData?.history?.hod?.processedBy |
                                titlecase }}</span>
                        </div>

                    </div>

                    <!-- MATERIAL DETAILS -->
                    <div class="border rounded-3 p-3 my-3 small"
                        *ngFor="let mat of indentDetailsData?.materials; let i = index">

                        <div class="fw-semibold mb-2">
                            Material {{ i + 1 }}
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Material Name</span>
                            <span class="fw-semibold text-dark">
                                {{ mat.materialName }}
                            </span>
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Quantity</span>
                            <span class="fw-semibold text-dark">
                                {{ mat.quantity }} {{ mat.unit }}
                            </span>
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Unit Price</span>
                            <span class="fw-semibold text-dark">
                                ₹ {{ mat.unitPrice | number:'1.2-2' }}
                            </span>
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                            <span class="text-muted">Total Price</span>
                            <span class="fw-bold text-success fs-6">
                                ₹ {{ getMaterialTotal(mat) | number:'1.2-2' }}
                            </span>
                        </div>

                    </div>




                    <!-- Status Button -->
                    <button class="btn w-100 btn-sm fw-semibold" [ngClass]="{
                      'btn-success': indentDetailsData?.status === 'Approved',
                      'btn-danger': indentDetailsData?.status === 'Rejected',
                      'btn-warning': indentDetailsData?.status !== 'Approved' &&
                                     indentDetailsData?.status !== 'Rejected'
                    }">
                        <ng-container [ngSwitch]="indentDetailsData?.status">
                            <span *ngSwitchCase="'Approved'">✔ Approved</span>
                            <span *ngSwitchCase="'Rejected'">✖ Rejected</span>
                            <span *ngSwitchDefault>⏳ Pending</span>
                        </ng-container>
                    </button>



                </div>
            </div>
        </div>



        <div class="col-md-8 scroll-containe ">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h6 class="fw-bold mb-3">Approval Stages</h6>

                    <div *ngFor="let stage of approvalSummary" class="border rounded p-2 mb-2">

                        <!-- HEADER -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="mb-0 fw-semibold">
                                    {{ stage.label }} -
                                    <span [ngClass]="{'text-warning small': !stage.user, 'text-body': stage.user}">
                                        {{ stage.user || 'Not Assigned' }}
                                    </span>
                                </p>
                                <small class="text-muted">{{ stage.updates.length }} activities</small>
                            </div>

                            <button *ngIf="stage.updates.length" class="btn btn-sm btn-outline-primary"
                                (click)="toggleCollapse(stage.label)">
                                {{ toggleIcon(stage.label) }}
                            </button>
                        </div>

                        <!-- BODY -->
                        <div class="mt-2 border-top pt-2" [class.show]="collapseState[getCollapseId(stage.label)]"
                            [hidden]="!collapseState[getCollapseId(stage.label)]">

                            <table class="table table-bordered table-sm mt-2 small">
                                <thead>
                                    <tr>
                                        <th>Material</th>
                                        <th>Field</th>
                                        <th>Old</th>
                                        <th>New</th>
                                        <th>User</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="stage.updates.length; else noData">
                                    <tr *ngFor="let u of stage.updates">
                                        <td>{{ u.material || '-' }}</td>
                                        <td>{{ u.field || '-' }}</td>
                                        <td>{{ u.oldValue || '-'}}</td>
                                        <td [class.text-danger]="u.type === 'rejection'">
                                            {{ u.newValue }}
                                        </td>
                                        <td>{{ u.user }}</td>
                                        <td>{{ u.date }}</td>
                                        <td>{{ u.time }}</td>
                                        <td>{{ u.comment }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <ng-template #noData>
                                <div class="text-center text-muted">No activities</div>
                            </ng-template>

                        </div>
                    </div>

                </div>
            </div>
            <div class="border rounded p-3 mt-3 bg-light small">
                <div class="mb-1">
                    <strong>Total Stages:</strong> {{ totalStages }}
                </div>

                <div>
                    <strong>Final Status:</strong>
                    <span class="fw-semibold" [ngClass]="{
                      'text-success': finalStatus.type === 'success',
                      'text-danger': finalStatus.type === 'danger',
                      'text-warning': finalStatus.type === 'warning'
                    }">
                        {{ finalStatus.text }}
                    </span>
                </div>
            </div>


        </div>




    </div>